/* main color black #212121; */
/* secondary blacki-greyish  #757575; */
/* backgroud white #FFFFFF */
/* background black (sec 2 , footer) #2F303A */
/* background pinkish + selector-buttons bg #F5F4FA */
/* hover + logo : #2196F3; */
/* footer address rgba(255, 255, 255, 0.6) */


:root {
	--primary-text: #212121;
	--secondary-text: #757575;
	--background-main: #FFFFFF;
	--background-secondary: #2F303A;
	--background-three: #F5F4FA;
	--company-color: #2196F3;
	--footer-address: rgba(255, 255, 255, 0.6);
	--logo-black: #000000;
}

body {
	font-family: 'Roboto', 'Times New Roman' , sans-serif;
	background-color: var(--background-main);
	color: var(--primary-text);
	letter-spacing: 0.03em;
	font-size: 14px;
}

}
.section-title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* remove dots only from existing lists */
.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* remove underline from all links */
.link {
	text-decoration: none;
}
h1,h2,h3 {
	margin-top: 0;
}

/* links to change color when hover and focus*/
.linkhov:hover,
.linkhov:focus {
	color: var(--company-color);
}
.linkhov.current {
	color: var(--company-color);
}
/* logo */
.logo {
	font-family: 'Raleway', sans-serif;
	color: var(--logo-black);
	font-weight: 700;
	/* line-height is 31px in figma, when i get 30.94px, should i round it up to 1.2 or include more numbers after dort? */
	line-height: 1.19;
	font-size: 26px;
}
.logo-web {
	color: var(--company-color);
}
.logo-footer {
	color: var(--background-main);
}
/* header (can use tag for header , but better with class) */
.container {
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	padding: 0px 15px;
	outline: solid yellow;
}
.nav-list {
	display: flex;
}
.nav-list-item:not(:last-child) {
	margin-right: 50px;
}
.address-top {
	display: flex;
	/* margin-left: auto; */
}
.address-top-item:not(:last-child) {
	margin-right: 50px;

}
.header-flex {
	display: flex;
	justify-content: space-between;
}
.navigation-item:not(:last-child) {
	margin-right: 93px;
}
.navigation {
	display: flex;
	align-items: center;
}
.nav-link,
.contact-link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-link {
	display:block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: inherit;
}
.contact-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--secondary-text);
}

/* footer */
.contact-link-foot,
.print-address {
	line-height: 1.71;
	font-style: normal;
	
}
.contact-link-foot {
	color: var(--footer-address);
}
.print-address {
	color: var(--background-main);
}
footer {
	background-color: var(--background-secondary);
}

/* index html main */
/* section 1=hero */
.hero {
	background-color: var(--background-secondary);
	text-align: center;
}
.hero-title {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--background-main);
	outline: solid yellow;
}
.hero-button {
	padding: 10px 32px;
	min-width: 200px;
	border: 0px;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
	border-radius: 4px;
	background-color: var(--company-color);
	color: var(--background-main);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
}

/* section 2 =reasons */

.reasons-title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.17;
	text-transform: uppercase;
}
.reasons-text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text);
}

/* section 3 =processes*/



/* section 4=team */

/* outline- sec 3 css */
.team {
	background-color: var(--background-three);
}
.team-name,
.team-text {
	font-size: 16px;
	line-height: 1.17;
}
.team-name {
	font-weight: 500;
	margin-bottom: 10px;
}

.team-text {
	color: var(--secondary-text);
}


/* portfolio-html */

.filter ,
.hero-button {
	cursor: pointer;
}
.filter {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	color: var(--primary-text);
}
.filter:hover,
.filter:focus,
.filter.active {
	background-color: var(--company-color);
	color: var(--background-main);
}
.portfolio-title {
	margin-bottom: 4px;
	color: var(--primary-text);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-text {
	color: var(--secondary-text);
	font-size: 16px;
	line-height: 1.875;
}


